<md-content>
    <md-list class="md-dense" flex>
        <div>
            <ul>
              <md-input-container>
                <label>Path</label>
                <md-select ng-model="$ctrl.catalogPath" name="catalogPath" md-on-close="$ctrl.onCloseSelection()" ng-required="true">
                  <md-option ng-value="folder.item.path" ng-repeat="folder in $ctrl.folders">
                    {{folder.item.path}}
                  </md-option>
                </md-select>
              </md-input-container>
            </ul>
        </div>
        <md-list-item ng-repeat="catalogItem in $ctrl.catalogList">
            <div layout="row" ng-if="catalogItem.type === 'folder'" flex>
                <div>
                    <ul>
                        <li>
                            <b><a ng-click="$ctrl.openFolder(catalogItem.name)">
                                {{catalogItem.name}}
                            </a></b>
                        </li>
                    </ul>
                </div>
            </div>
            <div layout="row" ng-if="catalogItem.type === 'md'" ng-switch on="$ctrl.isAdmin" flex>
                <div>
                    <ul>
                        <a ng-style="$ctrl.setItemColor(catalogItem.id)" ui-sref="guide({ id: catalogItem.id })">
                            {{catalogItem.name}}
                        </a>
                    </ul>
                </div>
                <span flex></span>
                <div>
                    <a ng-switch-when="true">
                        <md-button ng-click="$ctrl.editBtn(catalogItem.id)" class="md-fab md-mini md-primary md-hue-1">
                          <md-icon md-font-icon="classname">mode_edit</md-icon>
                        </md-button>
                    </a>
                    <a ng-switch-when="true">
                      <md-button ng-click="$ctrl.deleteBtn(catalogItem.id, catalogItem.name)" class="md-fab md-mini md-primary md-hue-1">
                        <md-icon md-font-icon="classname">delete</md-icon>
                      </md-button>
                    </a>
                </div>
            </div>
        </md-list-item>
        <ul>
            <md-button ng-click="$ctrl.goBackBtn()" class="md-raised">Back</md-button>
        </ul>
    </md-list>
</md-content>
