<md-dialog aria-label="Show Pictures" layout="column" layout-align="center"
           style="background-color: #f2f2f2" class="md-padding">
  <md-dialog-content>
    <md-input-container>
      <label>Search</label>
      <input ng-model="search">
    </md-input-container><br>
    <div layout="row" ng-repeat="picture in ctrl.pictures | filter:search">
      <div flex="25" layout="column" layout-align="center center">
        <p><b>{{picture.name}}</b></p>
        <md-button class="md-primary" ng-click="ctrl.insertBtn(picture.id)">
          Insert
        </md-button>
        <md-button class="md-primary" ng-click="ctrl.deleteBtn(picture.id, picture.name)">
          Delete
        </md-button>
      </div>
      <div flex="75">
        <img ng-src="http://localhost:3000/api/Pictures/{{picture.id}}" alt="Empty" height="300" width="300"/>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>

