<div>
    <md-button ng-click="$ctrl.editBtn()" class="md-raised md-primary">Edit</md-button>
    <md-button ng-click="$ctrl.previewBtn()" class="md-raised md-primary">Preview</md-button>
    <insert-to-editor on-insert-link="$ctrl.addLink(link)" on-insert-picture="$ctrl.insertPicture(id)"></insert-to-editor>
    <upload-picture on-insert-picture="$ctrl.insertPicture(id)"></upload-picture>
</div>

<div ng-if="$ctrl.editing">
    <textarea id="markdownEditor" ng-model="$ctrl.markdown" rows="20" cols="110" wrap='soft'></textarea>
</div>
<div ng-if="!$ctrl.editing">
    <span ng-bind-html="$ctrl.previewHtml"></span>
</div>
