<div layout="column" layout-align="center center"
     style="background-color: #f2f2f2" class="md-padding">
  <md-input-container>
    <label>Link Text</label>
    <input ng-model="ctrl.text">
  </md-input-container>
  <md-input-container>
    <label>Name</label>
    <input ng-model="ctrl.name">
  </md-input-container>
  <md-input-container>
    <label>Path</label>
    <input ng-model="ctrl.path">
  </md-input-container>

  <md-dialog-actions>
    <md-button class="md-primary" ng-click="ctrl.ok()" >
        OK
    </md-button>
    <md-button class="md-primary" ng-click="ctrl.cancel()">
        Cancel
    </md-button>
  </md-dialog-actions>
</div>
