<md-toolbar ng-switch on="$ctrl.isAdmin" layout="row" class="md-toolbar-tools">
    <a ng-click="$ctrl.userGuideBtn()">
        <h1>User Guide</h1>
    </a>
    <span flex></span>
    <a ng-switch-when="true" ui-sref="editor({ id: '0' })">
        <md-button class="md-raised" aria-label="Editor">
            Editor
        </md-button>
    </a>
</md-toolbar>
<div layout="row" layout-margin>
    <div id="border" flex="30">
        <catalog-component file-command="$ctrl.command" new-file-id="$ctrl.newItem" catalog-list="$ctrl.catalog" catalog-path="$ctrl.path" is-admin="$ctrl.isAdmin"></catalog-component>
    </div>
    <div flex="70">
        <ui-view on-new-markdown="$ctrl.updateCatalog(command, path, newFileID)" on-editor-save="$ctrl.updateCatalog(command, path, newFileID)"></ui-view>
    </div>
</div>


