<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="local">
    <md-content class="md-padding">
      <form name="form">
        <md-button ngf-select ng-model="ctrl.images" name="images" ngf-multiple="true" ngf-pattern="'image/*'"
             ngf-accept="'image/*'" ngf-max-size="20MB" class="md-raised md-primary">Select Image
        </md-button>
        <md-button ng-disabled="!form.$valid" ng-click="ctrl.submit(ctrl.images)">submit</md-button>
        <span class="progress" ng-show="ctrl.images.progress >= 0">
          <div style="width:{{ctrl.images.progress}}%" ng-bind="ctrl.images.progress + '%'" class="ng-binding"></div>
        </span>
        <span ng-show="images.result">Upload Successful</span>
        <div class="preview">
          <div>Preview image:</div>
          <img ngf-src="ctrl.image">
        </div>
      </form>
    </md-content>
  </md-tab>
  <md-tab label="web">
    <md-content class="md-padding">
      <div layout="column" layout-align="center center"
           style="background-color: #f2f2f2" class="md-padding">
        <md-input-container>
          <form name="urlForm">
            <label>Picture Url</label>
            <input ng-model="ctrl.picURL" name="picURL" required />
            <div ng-messages="urlForm.picURL.$error" role="alert">
              <div ng-message="required">Please enter picture url</div>
            </div>
          </form>
        </md-input-container>
        <md-input-container>
          <form name="nameForm">
            <label>Picture Name</label>
            <input ng-model="ctrl.picName" name="picName" required />
            <div ng-messages="nameForm.picName.$error" role="alert">
              <div ng-message="required">Please enter picture name</div>
            </div>
          </form>
        </md-input-container>
        <md-checkbox ng-model="ctrl.insertFlag" aria-label="insertCheckbox">
          Insert To Editor
        </md-checkbox>
        <md-button class="md-primary" ng-click="ctrl.ok(ctrl.insertFlag, urlForm.picURL.$error, nameForm.picName.$error)">
          OK
        </md-button>
        <md-button class="md-primary" ng-click="ctrl.cancel()">
          Cancel
        </md-button>
      </div>
    </md-content>
  </md-tab>
</md-tabs>
